#navbrand {
  background: #ffc107 !important;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.slogan {
  font-size: 17px;
}

.navbar-light .navbar-brand {
  color: white;
  font-weight: bold;
}

.title-index{
  font-size: 20px;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.red {
  color: #7B241C;
}

.title-index {
  text-align: center;
  background-color: #239B56;
  padding-top: 45px;
  padding-bottom: 45px;
  color: white;
}


.container {
  padding-top: 20px;
  padding-bottom: 20px;
}


@media (min-width: 1200px){
.recipe-index {
  margin-left: 450px !important;
  }
}


.description-index {
  color: black !important;
  font-style: italic
}


.eggs {
  padding-left: 50px;
}

/*
#img_eggs {
  width: 100%;

}
*/

form {
  margin: auto;
}

.input-date[type=date] {
  width: 250px;
  padding: 5px 20px;
  box-sizing: border-box;
  border: 2px solid #ffc107;
  border-radius: 4px;
}

.input-date-submit[type=submit]{
  width: 30px;
  box-sizing: border-box;
  background-color: #ffc107;
  border: 2px solid #ffc107;
  border-radius: 4px;
}

#green-bck {
  background-color: #239B56 !important;
}

.input-edit {
  height : 200px;
  overflow:scroll;
}

#purple {
  background-color: #AF7AC5;
}
